@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    background-color: red;
}
    h2 {
    font-size: 40px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

button {
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    font-size: 30px;
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

